<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="app.reservation">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-home"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.MAIN"> Inicio </span>
                </div>
            </div>
        </a>
    </li>
    <li ng-class="{'active open':$state.includes('app.ui')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-settings"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.reservation.MAIN"> UI Sales </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.ui.typesport">
                    <span class="title" translate="sidebar.nav.reservation.TYPESPORT"> TypesSport </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.ui.typecourts">
                    <span class="title" translate="sidebar.nav.reservation.TYPECOURTS"> TypesCourts </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.ui.timetable">
                    <span class="title" translate="sidebar.nav.reservation.TIMETABLE"> TimeTable </span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('app.table')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-layout-grid2"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.tables.MAIN"> Tables </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.ui.report1">
                    <span class="title" translate="sidebar.nav.tables.REPORT1">Report1</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->