<!-- start: RESERVATION TITLE -->
<div ng-controller="ReservationCtrl">
    <div class="ContentTable">
        <div class="row">
            <div class="col-md-12">
                <div id="dlpcustomLoad" dx-load-panel="{ message: 'Cargando...', showIndicator: true }"></div>
                <div id="gdvReservation"
                     ng-init="list_Reservation()"
                     dx-data-grid="{
                                    columns:[
                                                {
                                                    alignment: 'center',
                                                    allowEditing: false,
                                                    allowSorting: false,
                                                    cellTemplate: gdvReservation_cellTemplate,
                                                    headerCellTemplate: gdvReservation_headerCellTemplate,
                                                    width: 80,
                                                    fixed: true,
                                                    fixedPosition: 'left'
                                                }, {
                                                    caption: 'Solicitud',
                                                    dataField: 'ALF_NUME_PEDI'
                                                }, {
                                                    caption: 'Cliente',
                                                    dataField: 'ALF_NOMB'
                                                }, {
                                                    caption: 'Teléfono',
                                                    dataField: 'ALF_NUME_TELE'
                                                }, {
                                                    caption: 'Fecha',
                                                    dataField: 'FEC_RESE'
                                                }, {
                                                    caption: 'Horario',
                                                    dataField: 'ALF_HORA'
                                                }, {
                                                    caption: 'Deporte',
                                                    dataField: 'ALF_TIPO_DEPO'
                                                }, {
                                                    caption: 'Cancha',
                                                    dataField: 'ALF_TIPO_CANC'
                                                }, {
                                                    caption: 'Deuda',
                                                    dataField: 'MON_DEUD'
                                                }
                                            ],
                                    filterRow: {
                                                    visible: true
                                    },
                                    sorting: {
                                                mode: 'multiple'
                                    },
                                    paging: {
                                                pageSize: 10
                                    },
                                    pager: {
                                                showPageSizeSelector: true,
                                                allowedPageSizes: [10, 20, 50, 100]
                                    },
                                    summary: {
                                                totalItems:[
                                                                {
                                                                    column: 'ALF_NUME_PEDI',
                                                                    summaryType: 'count',
                                                                    displayFormat: 'Total: {0}'
                                                                }, {
                                                                    column: 'MON_DEUD',
                                                                    summaryType: 'sum',
                                                                    displayFormat: 'Total: {0}'
                                                                }
                                                            ]
                                    },
                                    loadPanel: {
                                                    enabled: false
                                    },
                                    selection: {
                                                    mode: 'single'
                                    },
                                    height: 528,
                                    noDataText: '',
                                    showBorders: true,
                                    showRowLines: true,
                                    hoverStateEnabled: true,
                                    twoWayBindingEnabled: false,
                                    columnAutoWidth: true
                                }">
                </div>
                
                <!-- start: CONFIRMAR RESERVA -->
                <div id="dpp_Confirm"
                     dx-popup="{ title: 'Confirmar Reserva',
                                 contentTemplate: 'content',
                                 toolbarItems: dpp_Confirm_toolbarItems,
                                 width: 400,
                                 height: 'auto'
                    }">
                    <div data-options="dxTemplate: { name: 'content' }">
                        <div class="dx-field">
                            <div class="dx-field-label">Pedido:</div>
                            <div class="dx-field-value" id="dtbCOD_PEDI" dx-text-box="{ readOnly: true }" ng-model="COD_PEDI"></div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Monto de Deuda:</div>
                            <div class="dx-field-value" id="dtbMON_PAGA" dx-text-box="{ readOnly: true }" ng-model="MON_PAGA"></div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Monto Pagado:</div>
                            <div class="dx-field-value" id="dtbMON_PAGO" dx-text-box="{ readOnly: true }" ng-model="MON_PAGO"></div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Monto de Saldo:</div>
                            <div class="dx-field-value" id="dtbMON_DEUD" dx-text-box="{ readOnly: true }" ng-model="MON_DEUD"></div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Monto a Pagar:</div>
                            <div class="dx-field-value" id="dtbMON_SALD" dx-number-box="{ value: 0 }"
                                 dx-validator="{ validationRules:[{ type: 'required', message: '*' }], validationGroup: 'ValReserva' }"
                                 ng-model="MON_SALD">
                            </div>
                        </div>
                        <div class="dx-field">
                        </div>
                    </div>
                </div>
                <!-- end: CONFIRMAR RESERVA -->
            </div>
        </div>
    </div>
</div>
<!-- end: RESERVATION TITLE -->