<!-- start: HORARIO -->
<div ng-controller="TimeTableCtrl">
    <div class="ContentTable">
        <div class="row">
            <div class="col-md-12">
                <div id="dlpcustomLoad" dx-load-panel="{ message: 'Cargando...', showIndicator: true }"></div>
                <div id="gdvTimeTable"
                     ng-init="list_TimeTable()"
                     dx-data-grid="{
                                    columns:[
                                                {
                                                    alignment: 'center',
                                                    allowEditing: false,
                                                    allowSorting: false,
                                                    cellTemplate: gdvTimeTable_cellTemplate,
                                                    headerCellTemplate: gdvTimeTable_headerCellTemplate,
                                                    width: 80
                                                }, {
                                                    caption: 'Código',
                                                    dataField: 'COD_HORA',
                                                    width: 150,
                                                }, {
                                                    caption: 'Horario',
                                                    dataField: 'ALF_HORA'
                                                }
                                            ],
                                    filterRow: {
                                                    visible: true
                                    },
                                    sorting: {
                                                mode: 'multiple'
                                    },
                                    paging: {
                                                pageSize: 10
                                    },
                                    pager: {
                                                showPageSizeSelector: true,
                                                allowedPageSizes: [10, 20, 50, 100]
                                    },
                                    summary: {
                                                totalItems:[
                                                                {
                                                                    column: 'COD_HORA',
                                                                    summaryType: 'count',
                                                                    displayFormat: 'Total: {0}'
                                                                }
                                                            ]
                                    },
                                    loadPanel: {
                                                    enabled: false
                                    },
                                    selection: {
                                                    mode: 'single'
                                    },
                                    height: 528,
                                    noDataText: '',
                                    showBorders: true,
                                    showRowLines: true,
                                    hoverStateEnabled: true,
                                    twoWayBindingEnabled: false,
                                    columnAutoWidth: true
                                }">
                </div>

                <!-- start: MANTENIMIENTO DE HORARIO -->
                <div id="dpp_Maintenance"
                     dx-popup="{ title: 'Mantenimiento de Horarios',
                                 contentTemplate: 'content',
                                 toolbarItems: dpp_Maintenance_toolbarItems,
                                 width: 450,
                                 height: 'auto'
                    }">
                    <div data-options="dxTemplate: { name: 'content' }">
                        <div class="dx-field">
                            <div class="dx-field-label">Código:</div>
                            <div class="dx-field-value" id="dtbCOD_HORA" dx-text-box="{ readOnly: true }" ng-model="COD_HORA"></div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Hora Inicial:</div>
                            <div class="dx-field-value" id="ddbHOR_INIC" dx-date-box="{ displayFormat: 'HH:mm', type: 'time' }"
                                 dx-validator="{ validationRules:[{ type: 'required', message: '*' }], validationGroup: 'ValMaintenance' }"
                                 ng-model="HOR_INIC"></div>
                        </div>
                        <div class="dx-field">
                            <div class="dx-field-label">Hora Final:</div>
                            <div class="dx-field-value" id="ddbHOR_FINA" dx-date-box="{ displayFormat: 'HH:mm', type: 'time' }"
                                 dx-validator="{ validationRules:[{ type: 'required', message: '*' }], validationGroup: 'ValMaintenance' }"
                                 ng-model="HOR_FINA"></div>
                        </div>
                        <div class="dx-field">
                        </div>
                    </div>
                </div>
                <!-- end: MANTENIMIENTO DE HORARIO -->
            </div>
        </div>
    </div>
</div>
<!-- end: BASIC HORARIO -->