<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-5 padding-bottom-5">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle" translate="sidebar.nav.reservation.TYPECOURTS">Type of Courts</h1>
        </div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: TYPECOURTS -->
<div class="ContentTable">
    <div class="row">
        <div class="col-md-4">
            <div>
                <div class="ContentLabel140">Código:</div>
                <div class="ContentInput">
                    <div id=""
                         dx-text-box="{ readOnly: true, width: 200 }">
                    </div>
                </div>
            </div>
            <div>
                <div class="ContentLabel140">Descripción:</div>
                <div class="ContentInput">
                    <div id=""
                         dx-text-box="{ width: 200 }">
                    </div>
                </div>
            </div>
            <div>
                <div class="ContentLabel140">Tipo de deporte:</div>
                <div class="ContentInput">
                    <div id=""
                         dx-select-box="{ width: 200 }">
                    </div>
                </div>
            </div>
            <div>
                <div class="ContentLabel140">Número jugadores:</div>
                <div class="ContentInput">
                    <div id=""
                         dx-text-box="{ width: 200 }">
                    </div>
                </div>
            </div>
            <br />
            <div>
                <div class="ContentLabel140"></div>
                <div class="ContentButton">
                    <div dx-button="{ type: 'default', text: 'Guardar', width: 100 }">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: BASIC TYPECOURTS -->