<!-- start: PAGE TITLE -->
<section id="page-title" class="padding-top-5 padding-bottom-5">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle" translate="sidebar.nav.reservation.TYPESPORT">Type of Sport</h1>
        </div>
    </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: TYPECOURTS -->
<div class="ContentTable">
    <div class="row">
        <div class="col-md-4">
            <div>
                <div class="ContentLabel140">Código:</div>
                <div class="ContentInput">
                    <div id=""
                         dx-text-box="{ readOnly: true, width: 200 }">
                    </div>
                </div>
            </div>
            <div>
                <div class="ContentLabel140">Descripción:</div>
                <div class="ContentInput">
                    <div id=""
                         dx-text-box="{ width: 200 }">
                    </div>
                </div>
            </div>
            <br />
            <div>
                <div class="ContentLabel140"></div>
                <div class="ContentButton">
                    <div dx-button="{ type: 'default', text: 'Guardar', width: 100 }">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: BASIC TYPECOURTS -->
<dx:ASPxGridView ID="grid" ClientInstanceName="grid" runat="server" DataSourceID="DemoDataSource1"
                 KeyFieldName="EmployeeID" AutoGenerateColumns="False" Width="100%">
    <Columns>
        <dx:GridViewCommandColumn ShowNewButtonInHeader="true" ShowEditButton="true" VisibleIndex="0" />
        <dx:GridViewDataTextColumn FieldName="Codigo" VisibleIndex="1">
            <EditFormSettings VisibleIndex="0" />
        </dx:GridViewDataTextColumn>
        <dx:GridViewDataColumn FieldName="Descripcion" VisibleIndex="4">
            <EditFormSettings VisibleIndex="1" />
        </dx:GridViewDataColumn>        
    </Columns>
    <SettingsEditing EditFormColumnCount="3" Mode="PopupEditForm" />
    <SettingsPopup>
        <EditForm Width="600" />
    </SettingsPopup>
    <SettingsPager Mode="ShowAllRecords" />
    <Settings ShowTitlePanel="true" />
    <SettingsText Title="Popup Edit Form Editing" />
</dx:ASPxGridView>